

___

<a href='https://fingertips.co.in/'><img src='ft_logo_new.png'/></a>
___
<center><em>Content Copyright by Fingertips Data Intelligence Solutions</em></center>

# Dictionary in Python
{key:value}

keys are unique but values can be same

## Agenda!
1. Basics of dictionary
2. Data extraction
3. Operations
4. Keys & values
5. Dictionary Methods
6. Dictionary Comprehension

In [1]:
d={}
type(d)

dict

In [2]:
#{key:value}
d={'name':'Jenny', 'age':23, 'Gender':'F'}
d

{'name': 'Jenny', 'age': 23, 'Gender': 'F'}

In [3]:
#in lists we have default keys as 0,1,2..., but here we have to create one

In [4]:
#keys are unique
d1={'a':1, 'b':2, 'c':3, 'b':5, 'c':True}
d1
#for same keys, latest(updated) values will be taken

{'a': 1, 'b': 5, 'c': True}

In [5]:
#values can be same
d2={1:'hi', 2:'hlo', 3:'hi'}
d2

{1: 'hi', 2: 'hlo', 3: 'hi'}

In [6]:
#special characters are not allowed as keys
#d3={$:4}
#strings are allowed
d3={'$':4}
d3

{'$': 4}

In [7]:
#special characters are not allowed as values
#d4={'a':$}
#strings are allowed
d4={'a':'$'}
d4

{'a': '$'}

In [8]:
#list and tuple in dictionary-->allowed
d={'a':[1,'r'], 'b':34.5, 'c':45+1j, 'd':True, 'e':(3,5,'u')}
d

{'a': [1, 'r'], 'b': 34.5, 'c': (45+1j), 'd': True, 'e': (3, 5, 'u')}

In [9]:
#nested dictionary
d={'a':2, 'b':34.5, 'c':45+7j, 'd':True, 'e':[34,'j'], 'f':(56,8,'p'), 'g':{'aa':'r', 'bb':[23,'ju']}}
d

{'a': 2,
 'b': 34.5,
 'c': (45+7j),
 'd': True,
 'e': [34, 'j'],
 'f': (56, 8, 'p'),
 'g': {'aa': 'r', 'bb': [23, 'ju']}}

In [10]:
#keys-->tuples, but not lists, sets, or dictionary

#keys as tuple
d1={(2,3,6):'hi'}
d1

{(2, 3, 6): 'hi'}

In [11]:
#d2={[2,3,6]:'hi'}
#TypeError: unhashable type: 'list'
#d2

In [12]:
#d3={{2,3,6}:'hi'}
#TypeError: unhashable type: 'set'
#d3

In [13]:
#d4={{'a':456}:'hi'}
#TypeError: unhashable type: 'dict'
#d4

### data extraction

In [14]:
d

{'a': 2,
 'b': 34.5,
 'c': (45+7j),
 'd': True,
 'e': [34, 'j'],
 'f': (56, 8, 'p'),
 'g': {'aa': 'r', 'bb': [23, 'ju']}}

In [15]:
#(56, 8, 'p')
d['f']

(56, 8, 'p')

In [16]:
#'ju'
#as value of 'bb' is a list, and indexes of list are in 0,1,2...
d['g']
#dictionary

{'aa': 'r', 'bb': [23, 'ju']}

In [17]:
d['g']['bb']
#list

[23, 'ju']

In [18]:
d['g']['bb'][1]
#string

'ju'

In [19]:
d['g']['bb'][1][0]
#character

'j'

In [20]:
#d[1]
#1 is not key of dict d

In [21]:
d1={'1': 2,
 '2': 34.5,
 '3': (45+7j),
 4: True,
 5: [34, 'j'],
 6: (56, 8, 'p'),
 7: {'aa': 'r', 'bb': [23, 'ju']}}

In [22]:
#True
d1[4]

True

In [23]:
#34.5
#d1[2]
d1['2']

34.5

In [24]:
#23
d1[7]['bb'][0]

23

### opearations

In [25]:
d1={'a':1, 'b':2}
d2={'c':3, 'd':4, 'a':3}

In [26]:
#+
#TypeError: unsupported operand type(s) for +: 'dict' and 'dict'
#d1+d2

In [27]:
#*
d1
#TypeError: unsupported operand type(s) for *: 'dict' and 'int'
#d1*3
#keys are unique

{'a': 1, 'b': 2}

### re-assignment operation-->dictionary is mutable object

In [28]:
d1

{'a': 1, 'b': 2}

In [29]:
d1['a']=4
d1

{'a': 4, 'b': 2}

In [30]:
#d1['b']=d1['b']-3
#OR

d1['b']-=3
d1

{'a': 4, 'b': -1}

### keys and values

In [31]:
d

{'a': 2,
 'b': 34.5,
 'c': (45+7j),
 'd': True,
 'e': [34, 'j'],
 'f': (56, 8, 'p'),
 'g': {'aa': 'r', 'bb': [23, 'ju']}}

In [32]:
d.keys()

dict_keys(['a', 'b', 'c', 'd', 'e', 'f', 'g'])

In [33]:
d.values()

dict_values([2, 34.5, (45+7j), True, [34, 'j'], (56, 8, 'p'), {'aa': 'r', 'bb': [23, 'ju']}])

### check

In [34]:
'a' in d.keys()

True

In [35]:
1 in d.keys()

False

In [36]:
#keys
for i in d:
    print(i)

a
b
c
d
e
f
g

In [37]:
#values
for i in d:
    print(d[i])

2
34.5
(45+7j)
True
[34, 'j']
(56, 8, 'p')
{'aa': 'r', 'bb': [23, 'ju']}

In [38]:
#values
for i in d.keys():
    print(d[i])

2
34.5
(45+7j)
True
[34, 'j']
(56, 8, 'p')
{'aa': 'r', 'bb': [23, 'ju']}

In [39]:
#values types
for i in d.keys():
    print(type(d[i]))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

### functions in dictionary

In [40]:
d={'a': 2,
 'b': 34.5,
 'c': (45+7j),
 'd': True,
 'e': [34, 'j'],
 'f': (56, 8, 'p'),
 'g': {'aa': 'r', 'bb': [23, 'ju']}}

In [41]:
d

{'a': 2,
 'b': 34.5,
 'c': (45+7j),
 'd': True,
 'e': [34, 'j'],
 'f': (56, 8, 'p'),
 'g': {'aa': 'r', 'bb': [23, 'ju']}}

In [42]:
#list of tuples of (key, value) pair
d.items()

dict_items([('a', 2), ('b', 34.5), ('c', (45+7j)), ('d', True), ('e', [34, 'j']), ('f', (56, 8, 'p')), ('g', {'aa': 'r', 'bb': [23, 'ju']})])

In [43]:
type(d.items())

dict_items

In [44]:
#length of dictionary
len(d)

7

In [45]:
#delete
d.pop('a')

2

In [46]:
d

{'b': 34.5,
 'c': (45+7j),
 'd': True,
 'e': [34, 'j'],
 'f': (56, 8, 'p'),
 'g': {'aa': 'r', 'bb': [23, 'ju']}}

In [47]:
#delets last item
d.popitem()

('g', {'aa': 'r', 'bb': [23, 'ju']})

In [48]:
d

{'b': 34.5, 'c': (45+7j), 'd': True, 'e': [34, 'j'], 'f': (56, 8, 'p')}

In [49]:
#d.update()

In [50]:
d.get('b')

34.5

In [51]:
d

{'b': 34.5, 'c': (45+7j), 'd': True, 'e': [34, 'j'], 'f': (56, 8, 'p')}

**Question**

In [52]:
#take paragraph as an input from user
i=input('Enter a paragraph')
i

Enter a paragraphjckfwe wfdwefd jdkweelrki lcmsdcmdk eremn

'jckfwe wfdwefd jdkweelrki lcmsdcmdk eremn'

In [53]:
type(i)

str

In [54]:
#convert into list of words
l=i.split()

In [55]:
l

['jckfwe', 'wfdwefd', 'jdkweelrki', 'lcmsdcmdk', 'eremn']

In [56]:
len(l)

5

In [57]:
#remove duplicates from above list
l=set(l)
l

{'eremn', 'jckfwe', 'jdkweelrki', 'lcmsdcmdk', 'wfdwefd'}

In [58]:
len(l)

5

In [59]:
keys=l
len(keys)

5

In [60]:
values=list(range(88))
len(values)
values

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87]

In [62]:
#mapping
d=dict.fromkeys(keys,'python')

In [63]:
d

{'jdkweelrki': 'python',
 'jckfwe': 'python',
 'eremn': 'python',
 'lcmsdcmdk': 'python',
 'wfdwefd': 'python'}

In [64]:
d.items()

dict_items([('jdkweelrki', 'python'), ('jckfwe', 'python'), ('eremn', 'python'), ('lcmsdcmdk', 'python'), ('wfdwefd', 'python')])

In [65]:
tuple(d.values())

('python', 'python', 'python', 'python', 'python')

In [66]:
list(d.keys())

['jdkweelrki', 'jckfwe', 'eremn', 'lcmsdcmdk', 'wfdwefd']

### dictionary comprehenssion

In [67]:
#dictionary of (number, square)
d={}
for i in range(1,11):
    d[i]=i**2
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [68]:
#using dictionary comprehenssion
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [71]:
d={'course':'Data Science', 'Batch':'7B', 'year':2023}
d

{'course': 'Data Science', 'Batch': '7B', 'year': 2023}

In [72]:
(d['year']>2021)

True

In [73]:
for i in d:
    if i=='year':
        if d[i]>2022:
            print('greater')
        else:
            d[i]=2023 #update
d

greater

{'course': 'Data Science', 'Batch': '7B', 'year': 2023}

In [74]:
#dictionary comprehenssion
#{i:d[i] if d[i]=2024 for i in d}

In [75]:
len(d['course'])>4

True

**<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< END OF DOCUMENT >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>**