

___

<a href='https://fingertips.co.in/'><img src='ft_logo_new.png'/></a>
___
<center><em>Content Copyright by Fingertips Data Intelligence Solutions</em></center>

# Lists in Python

## Agenda!
1. Basics of Lists
2. Mutability
3. List concatenation
4. Operations
5. in, min, max
6. List methods

In [1]:
l=list()

In [2]:
type(l)

list

In [3]:
#or
m=[]

In [4]:
type(m)

list

In [6]:
#storing in multiple variables
name, age, course = 'Jenny', 23, 'Data Science'

In [7]:
#store in a single variable(i.e., list)

### List:
1. Its a data collection which can hold heterogeneous type of data.
2. A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements.

In [8]:
l=['Jenny', 23, 'Data Science']

In [9]:
l

['Jenny', 23, 'Data Science']

In [10]:
#index
l[1]

23

In [11]:
l[2]

'Data Science'

In [12]:
#l[3]

In [13]:
#heterogenous data types can be hold inside a list
m=['Jenny', 23, 45.6, 56+2j, ['gr', 657, 78.5], 'endall']

In [14]:
m

['Jenny', 23, 45.6, (56+2j), ['gr', 657, 78.5], 'endall']

In [15]:
m[4]

['gr', 657, 78.5]

In [16]:
m[1:4]

[23, 45.6, (56+2j)]

In [17]:
m[::-1]

['endall', ['gr', 657, 78.5], (56+2j), 45.6, 23, 'Jenny']

In [18]:
m[5:1]

[]

In [19]:
m[4][1]

657

In [20]:
m[0][2]

'n'

In [21]:
#print data type of each member of list, if list print variables inside it
for i in m:
    print(type(i))
    if(type(i)==list):
        for j in i:
            print(j)

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
gr
657
78.5
<class 'str'>

In [22]:
#final point of range is excluded
k=list(range(2,10))

In [23]:
k

[2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
len(k)

8

### Mutablility:
if we are able to manipualte things at some particular indexes that concept is called mutabilty

**note: mutability and assignment are two different things. Assignment means we are changing whole thing with new one.**

lists are mutable

In [25]:
l=list(range(10))

In [26]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
#replacement
l[7]='change'

In [28]:
l

[0, 1, 2, 3, 4, 5, 6, 'change', 8, 9]

### List Concatenation

In [32]:
l1=['hey','all']
l2=['welcome',65765]
l1+l2

['hey', 'all', 'welcome', 65765]

### Opeartions

In [33]:
#operations
l1*2

['hey', 'all', 'hey', 'all']

In [34]:
#TypeError: can only concatenate list (not "int") to list
#l2+2

In [35]:
l2+[2]

['welcome', 65765, 2]

In [36]:
l1

['hey', 'all']

In [37]:
m='coders'
m=list(m)
m

['c', 'o', 'd', 'e', 'r', 's']

In [38]:
l1+m

['hey', 'all', 'c', 'o', 'd', 'e', 'r', 's']

In [40]:
l1+['how are you?']

['hey', 'all', 'how are you?']

#### in--> returns True/False

In [41]:
#in--> returns True/False
'hey' in l1

True

In [43]:
'al' in l1

False

###  min() and max()

In [44]:
#list of strings, max will be according to dictionary order
l1=['welcome', 'how', 'are', 'you', 'all']

In [45]:
max(l1)

'you'

In [46]:
l2=[43,2342,5454,5656]

In [47]:
max(l2)

5656

In [48]:
#combination of str and int, won't be able to compare
l3=[345, 56, 'vdf', 'vrwerte']

In [49]:
#max(l3)
#TypeError: '>' not supported between instances of 'str' and 'int'

In [50]:
l4=[3534,5756,676]

In [51]:
min(l4)

676

In [52]:
#based on AASCI 
min('a', 'A')

'A'

## List Manipulation/methods

### append()
Append object to the end of the list.

In [61]:
l=['hello', 'coders', 35, 2342]

In [62]:
l.append('welcome')

In [63]:
l

['hello', 'coders', 35, 2342, 'welcome']

In [64]:
l.append([453,412])

In [65]:
l

['hello', 'coders', 35, 2342, 'welcome', [453, 412]]

### insert()

In [66]:
l=[1,2,3,4,5]

In [67]:
l

[1, 2, 3, 4, 5]

In [68]:
#in append variable is added at last, while in insert we can add at any index and higher indexes will get shifted in forward direction
l.insert(3,'hi')

In [69]:
l

[1, 2, 3, 'hi', 4, 5]

In [70]:
l.insert(-1, 'negative')

In [71]:
#'negative' is inserted at '-1' position and '5' got shifted (don't get confused)
l

[1, 2, 3, 'hi', 4, 'negative', 5]

### count()

In [72]:
l.count('hi')

1

### extend()
Extend list by appending elements from the iterable.

Same as append(), appends data at end position but just unwrapps it

Note: extend() always expects iterable object

In [73]:
a='hello'

In [74]:
list(a)

['h', 'e', 'l', 'l', 'o']

In [75]:
m=[1,2,3,4,5]

In [76]:
m

[1, 2, 3, 4, 5]

In [77]:
m.extend(a)

In [78]:
m

[1, 2, 3, 4, 5, 'h', 'e', 'l', 'l', 'o']

In [79]:
#TypeError: 'int' object is not iterable
#m.extend(34)

In [80]:
#list is iterable
m.extend([342,53,342])

In [21]:
m

[1, 2, 3, 4, 5, 'h', 'e', 'l', 'l', 'o', 342, 53, 342]

In [81]:
m.extend([324,56,['python',56]])

In [82]:
m

[1, 2, 3, 4, 5, 'h', 'e', 'l', 'l', 'o', 342, 53, 342, 324, 56, ['python', 56]]

### index()

In [83]:
m.index('h')

5

### pop()
m.pop(index=-1, /)

Remove and return item at index (default last).

In [84]:
m=[1,2,3,4,5,7,8]

In [85]:
m

[1, 2, 3, 4, 5, 7, 8]

In [86]:
m.pop()

8

In [87]:
m

[1, 2, 3, 4, 5, 7]

In [88]:
m.pop(0)

1

In [89]:
m

[2, 3, 4, 5, 7]

### remove()
m.remove(value, /)

Remove first occurrence of value.

In [90]:
m=[1,2,3,55,6,3,4,5,3]

In [91]:
m

[1, 2, 3, 55, 6, 3, 4, 5, 3]

In [92]:
m.remove(3)

In [93]:
m

[1, 2, 55, 6, 3, 4, 5, 3]

In [94]:
#first '3' will be removed
m.remove(3)

In [95]:
m

[1, 2, 55, 6, 4, 5, 3]

In [96]:
m.remove(3)

In [97]:
m

[1, 2, 55, 6, 4, 5]

In [98]:
#m.remove(3)

### reverse()

In [99]:
m=[3,2,56,23]

In [100]:
m

[3, 2, 56, 23]

In [101]:
m.reverse()

In [102]:
m

[23, 56, 2, 3]

### sort()

In [103]:
m.sort()

In [104]:
m

[2, 3, 23, 56]

In [105]:
m=[234,31,'python','programming']

In [106]:
#TypeError: '<' not supported between instances of 'str' and 'int'
#m.sort()

In [107]:
#combination of int and float
m=[231,4354,453.4,23.89,4234]

In [108]:
m

[231, 4354, 453.4, 23.89, 4234]

In [109]:
#descending order
m.sort(reverse=True)

In [110]:
m

[4354, 4234, 453.4, 231, 23.89]

## List Comprehenssion
simply compression, or writing something in short form

list comprehenssion is choice not necessity

In [121]:
l=[]
for i in "programming":
    l.append(i)
print(l)

['p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g']

In [123]:
#using list comprehenssion
#single line code
[i for i in "programming"]

['p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g']

In [124]:
#list of list
[[i] for i in "programming"]

[['p'], ['r'], ['o'], ['g'], ['r'], ['a'], ['m'], ['m'], ['i'], ['n'], ['g']]

In [125]:
l=[]
for i in range(10):
    if(i%2==0):   # % gives remainder
        l.append(i) #even numbers
print(l)

[0, 2, 4, 6, 8]

In [126]:
#using list compregenssion
#[output, expression, condition]
[i for i in range(10) if i%2==0 ]

[0, 2, 4, 6, 8]

In [127]:
#[print,condition,expression]
["even" if i%2==0 else "odd" for i in range(10) ]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [128]:
#nested list
m=[]
for i in range(3):
    m.append([])
    for j in range(3):
        m[i].append(j)
m

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [129]:
#list comprehenssion
[[i for i in range(3)] for i in range(3)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [130]:
#list comprehenssion
[i for i in range(10) if i%2==0 if i%3==0]

[0, 6]

In [131]:
#or
[i for i in range(10) if (i%2==0 and i%3==0)]

[0, 6]

In [132]:
#if else(if else)
['yes'if i==1 else 'no' if i==2 else 'test' for i in range(10)]

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

### del-->delete

In [133]:
l=[1,2,3]

In [134]:
l

[1, 2, 3]

In [135]:
del(l)

In [136]:
l

NameError: name 'l' is not defined

**<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< END OF DOCUMENT >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>**